module_00/ex00/objs
module_00/ex00/megaphone
module_00/ex01/objs
module_00/ex01/MyAwesomePhoneBook
module_00/ex02/objs
module_00/ex01/MyLamePhoneBook
module_00/ex02/BigMoney
module_01/ex00/objs
module_01/ex00/BraiiiiiiinnnzzzZ
.DS_Store
module_01/ex01/objs
module_00/.DS_Store
module_01/ex03/objs
module_01/ex04/Makefile.replace
module_01/ex04/SedIsDead
module_01/ex05/objs
module_01/ex05/Karen
module_01/ex02/objs
module_01/.DS_Store
module_02/.DS_Store
module_04/ex00/objs
module_04/ex02/objs
module_04/ex01/objs
module_02/ex00/objs
module_02/ex00/Fixed
module_05/ex00/objs
.DS_Store
module_05/ex01/objs
module_05/ex02/Form.ld_oJBATY
module_05/ex02/objs
module_07/ex02/objs/main.o
