module_00/ex00/objs
module_00/ex00/megaphone
module_00/ex01/objs
module_00/ex01/MyAwesomePhoneBook
module_00/ex02/objs
module_00/ex01/MyLamePhoneBook
module_00/ex02/BigMoney
module_01/ex00/objs
module_01/ex00/BraiiiiiiinnnzzzZ
.DS_Store
module_01/ex01/objs
.DS_Store
module_01/ex03/objs
module_01/ex04/Makefile.replace
module_01/ex04/SedIsDead
module_01/ex05/objs
module_01/ex05/Karen